* {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

#change-theme {
  height: 30px;
  width: 120px;
  border: none;
  background-color: gray;
  border-radius: 3px;
  font-size: 15px;
}
