body {
  background-color: rgb(253, 251, 251);
  border: 10px solid black;

}

nav {
  text-align: center;
}

header {
  position: fixed;
  top: 0;

}

#minha_foto {
  width: 200px;
  display: block;
  padding: 50px;
  margin: 0;
}

.lado-esquerdo {
  display: inline-block;
  color: rgb(111, 111, 111);
  font-size: 18px;
  font-family: Ubuntu, sans-serif;
  line-height: 18px;
}

.lado-direito {
  display: inline-block;
  color: rgb(111, 111, 111);
  font-size: 18px;
  font-family: Ubuntu, sans-serif;
  line-height: 18px;
}
