.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
}

.icon {
  width: 100px;
  background-color: black;
}

.container-icon {
  margin-bottom: -5px;
  margin-right: 285px;
}

.title {
  color: rgb(217, 217, 217);
  font-size: 38px;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  line-height: 36px;
  right: -300px;
}

.header {
  display: flex;
  margin-top: 6px;
  margin-bottom: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  width: 334px;
  margin-top: 18px;
  height: 56px;
  color: rgb(217, 217, 217);
  border: 1px solid rgb(47, 51, 54);
  border-radius: 6px;
  background-color: black;
  font-size: 16px;
  padding: 3px 10px ;
}

.container-Button {
  margin-top: 23px;
}

.button-entrar {
  background-color: #1D9BF0;
  width: 344px;
  height: 52px;
  border: none;
  font-size: 18px;
  color: white;
  font-family: 'Roboto', sans-serif;
  border-radius: 25px;
  cursor: pointer;
}


.link-container {
  display: flex;
  margin: 27px;
}

.ponto {
  color: #6E767D;
  font-size: 13px;
  text-align: center;
  line-height: -20px;
}

.link {
  color: #1B95E0;
  font-size: 15px;
}

.esqueceu {
  margin-right: 3px;
}

.inscrever {
  margin-left: 3px;
}